<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.note.repository.NoteImageMapper">

    <select id="selectByNoteId" resultType="com.example.note.entity.NoteImage">
        SELECT * FROM note_image WHERE note_id = #{noteId} ORDER BY image_order ASC
    </select>

    <delete id="deleteByNoteId">
        DELETE FROM note_image WHERE note_id = #{noteId}
    </delete>

</mapper>